section.offers{
    padding-top: 10rem;
    background-image:  linear-gradient(to bottom, #{fade-out($black, .8)} 0%,#{fade-out($black, .7)} 80%,#{fade-out($black, .4)} 100%), url('../img/bg-price/pricebg-medium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
@media (max-width: 991px) {
    section.offers {
        background: url('../img/bg-price/pricebg-medium.jpg');
        background-repeat: no-repeat;
        width: 100%;
    }
}

.listt {
    font-size: 14px;
}

.sp-background {
    background-color: rgba(255, 255, 255, 0.9);
}
.sp-item-background {
    background-color: rgba(255, 255, 255, 0.3);
}