section.offers{
    padding-top: 10rem;
    background-image:  linear-gradient(to bottom, #{fade-out($black, .6)} 0%,#{fade-out($black, .5)} 80%,#{fade-out($black, .4)} 100%), url('../img/bg-price/pricebg-medium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.list-font-size {
    font-size: 14px;
}

.sp-background {
    background-color: rgba(255, 255, 255, 0.9);
    .no-flex {
        flex: none;
    }
    .content-spacer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .pricing-btn {
            margin-top: 1rem;
        }
    }
}
.sp-item-background {
    background-color: rgba(255, 255, 255, 0);
}
.list-group{
    .list-group-item {
        padding: 10px 5px;
        border-bottom: 1px solid rgba(0,0,0,.125)!important;
        border-top: 1px solid rgba(0,0,0,.125)!important;
        }   
    .fa-check {
        padding-right: 5px;
    }
}

@include media-breakpoint-down(sm) {
    .sp-background {
        margin: 0 5px;
        // background-color: aquamarine;
    }

    section.offers{
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
}